* {
  padding: 0%;
  margin: 0%;
}
.page {
  height: 100svh;
  width: 100swh;
}
#page1 {
  background-image: url(public/background_page1.avif);
  background-repeat: no-repeat;
  background-size: contain;
}

#page2 {
  background-color: ;
}

#page3 {
  /* background-color: burlywood; */
}

#page4 {
  /* background-color: blue; */
}
.Mobile {
  height: 100px;
  width: 700px;

  position: relative;
  left: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.Mobile1 {
  height: 25svh;
  width: 100svw;

  display: flex;
  position: relative;
}
.Mobile2 {
  height: 50svh;
  width: 100svw;

  display: flex;
  position: relative;
}
.M1 {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  left: 900px;
  border-radius: 20px;
  border: 2px black solid;
  box-shadow: 2px 2px 2px black;
}
.M2 {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  left: 1000px;
  border-radius: 20px;
  border: 2px black solid;
  box-shadow: 2px 2px 2px black;
}
.M3 {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  left: 900px;
  border-radius: 20px;
  border: 2px black solid;
  box-shadow: 2px 2px 2px black;
}
.M4 {
  height: 150px;
  width: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  left: 1000px;
  border-radius: 20px;
  border: 2px black solid;
  box-shadow: 2px 2px 2px black;
}
.M1:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.M2:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.M3:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.M4:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.h {
  height: 10svh;
  width: 100svw;
  background-color: white;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 50px;
}
.p {
  height: 10svh;
  width: 100svw;
  background-color: white;
  text-align: center;
  font-size: 18px;
  position: relative;
  top: 70px;
}
.D {
  height: 40svh;
  width: 100svw;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.Di {
  height: 40svh;
  width: 100svw;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.D1 {
  height: 150px;
  width: 450px;
  background-color: whitesmoke;

  position: relative;
  left: 100px;
  top: 90px;
  border: 2px black solid;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
}
.D2 {
  height: 150px;
  width: 450px;
  background-color: whitesmoke;
  position: relative;
  right: 120px;
  top: 90px;
  border: 2px black solid;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
}
.D3 {
  height: 150px;
  width: 450px;
  background-color: whitesmoke;
  position: relative;
  left: 100px;
  border: 2px black solid;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
}
.D4 {
  height: 150px;
  width: 450px;
  background-color: whitesmoke;
  position: relative;
  right: 120px;
  border: 2px black solid;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
}
.img {
  height: 50px;
  width: 50px;
  background-color: white;
  position: relative;
  left: 20px;
  top: 20px;
  background-image: url("public/icon_page2.png");
  border-radius: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.te {
  height: 30px;
  width: 100px;

  position: relative;
  left: 100px;
  bottom: 30px;
}
.pp {
  height: 60px;
  width: 300px;

  position: relative;
  left: 100px;
  bottom: 20px;
}
.D1:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.D2:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.D3:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.D4:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.photo {
  height: 70svh;
  width: 50svw;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 300px;
  top: 100px;
  border-radius: 30px;
}
.P1 {
  height: 100px;
  width: 400px;
  /* background-color: hotpink; */
  position: relative;
  bottom: 130px;
  right: 60px;
  left: 40px;
  font-size: 20px;
  color: white;
}
.P2 {
  height: 100px;
  width: 400px;
  /* background-color: gold; */
  position: relative;
  right: 290px;
  bottom: 30px;
  color: white;
  font-size: 18px;
}

.P3 {
  height: 40px;
  width: 130px;
  /* background-color: green; */
  position: relative;
  top: 60px;
  right: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px white solid;
  color: white;
}
.P3:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.ph {
  height: 480px;
  width: 330px;
  /* background-color: greenyellow; */
  position: relative;
  left: 840px;
  bottom: 330px;
  border-radius: 20px;
  border: 1px black solid;
  background-image: url("public/girl_image_page3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.IMG {
  height: 600px;
  width: 700px;
  background-color: aqua;
  position: relative;
  bottom: 20px;
  right: 30px;
  background-image: url("public/man_image_page4.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}
.Z1 {
  height: 40px;
  width: 150px;
  /* background-color: aqua; */
  position: relative;
  left: 700px;
  bottom: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Z2 {
  height: 140px;
  width: 500px;
  /* background-color: yellow; */
  position: relative;
  left: 740px;
  bottom: 580px;
  font-size: 30px;
}
.Z3 {
  height: 100px;
  width: 750px;
  /* background-color: hotpink; */
  position: relative;
  bottom: 500px;
  left: 745px;
  font-size: 25px;
}
.Z4 {
  height: 50px;
  width: 200px;
  /* background-color: aqua; */
  position: relative;
  bottom: 480px;
  left: 800px;
  color: orangered;
  font-size: 16px;
}
.Z5 {
  height: 50px;
  width: 120px;
  background-color: blue;
  position: relative;
  bottom: 450px;
  left: 800px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Z6 {
  height: 100px;
  width: 100px;
  /* background-color: aqua; */
  position: relative;
  bottom: 360px;
  left: 50px;
  background-image: url("public/phone_icon_page4.png");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 40px;
}
.Z7 {
  height: 60px;
  width: 140px;
  background-color: blue;
  position: relative;
  left: 1350px;
  bottom: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
.Z8 {
  height: 60px;
  width: 150px;
  /* background-color: gold; */
  position: relative;
  bottom: 610px;
  left: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Z5:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.Z7:hover {
  transform: scale(1.2);
  cursor: pointer;
}
